@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
     display: flex;
     justify-content : center;
     align-items : center;
  flex-direction: column;
  min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

main{
    flex : 1;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #f4f4f4;
}

.h-fit{
    width: fit-content;
}

#nav{
    position : fixed;
    width : 100%;
    height : 50px;
background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);


justify-content : space-between;
    text-align : center;
}

.navButton {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.navButton::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #f4f4f4;
  transition: 0.5s ease;
}

.navButton:hover {
  color: #1e1e2b;
  transition-delay: 0.3s;
}

.navButton:hover::before {
  width: 100%;
}

.navButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #f4f4f4;
  transition: 0.4s ease;
  z-index: -1;
}

.navButton:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.btn {
  width: 200px;
  height: 60px;
  border: 5px solid transparent;
  border-radius: 35px;
  transition: all 0.4s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}


.btn:hover {
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  color: white;
  font-size: 1.3em;
}

#viewBtn {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

#viewBtn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#viewBtn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

#viewBtn:hover::after {
  filter: blur(30px);
}

#viewBtn:hover::before {
  transform: rotate(-180deg);
}

#viewBtn:active::before {
  scale: 0.7;
}

li {
    background : transparent;
    display : flex;
}

.black{
    width: 100vw;
    background-color: black;
    opacity: 0.8;
}

.navbar{
}

a{
    text-decoration: none;
    color: #333;
}

 .hero-image{
    background-image: url('../public/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
    
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
    text-align: center;
    line-height: normal;
}

.hero-content h1{
    font-size: 4vw;
}

.hero-content p{
    font-size: large;
}

.courses{
    padding: 40px;
} 

.courses h2{

    color: #333;
    font-size: xx-large;
}

.img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.img-container img{
    width: 21vw;
    height: 25vh;
    object-fit:cover;
    border-radius: 30px;
}

.course-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 21vw;
    height: 420px;
    flex-wrap: wrap;
    margin: 0 auto;
    border: #333 1px solid;
    border-radius: 10px;
    padding: 15px;
}

.course-container h3{
    color: #333;
    font-size: large;
}

.course-container p{
    color: #333;
    font-size: small;
}

.course-container a{
    color: rgb(158, 0, 0);
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 10px;
}

.course-row{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
    overflow-x: scroll;
    scrollbar-width: medium;
    scroll-behavior: smooth;
    scrollbar-color: #333 #f4f4f4;
}

.course-row::-webkit-scrollbar{
    width: 10px;
}

.course-row::-webkit-scrollbar-thumb{
    background-color: #333;
}

.course-row::-webkit-scrollbar-track{
    background-color: #f4f4f4;
}

.campus{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.campus h2{

    color: #333;
    font-size: xx-large;
}

.campus a{
    color: rgb(158, 0, 0);
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 10px;
    text-align: end;
    padding-top: 10px;
}

.campus-inf{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.infrastructure{
    padding: 10px;
    padding-top: 12px;
    margin-bottom : 50px;
}

.infrastructure h2{

    color: #333;
    font-size: xx-large;
}

.infrastructure ul li:first-child::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url('../public/bookshelf.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
  }

    .infrastructure ul li:nth-child(2)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/settings.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(3)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/desk.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(4)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/bunk.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(5)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/field.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(6)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/bus.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(7)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/pills.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(8)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/restaurant.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul li:nth-child(9)::before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 35px;
        background-image: url('../public/wifi.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -35px;
    }

    .infrastructure ul {
        color: #333;
        font-size: large;
    }
.footer {
  position: relative;
  width: 100vw;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin : 0 auto;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 6s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 6s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

#footerImage{
    width : 40px;
    height : 40px;
    margin : auto;
    padding : 40px 40px;
}

#footerImage:hover{
  width:45px;
  height :45px; 
}

#slidingImages{
  display:flex;
  justify-content:center;
  align-items:center;
}

#container{
  position : relative;
  width : 1200px;
  flex-wrap : wrap;
  padding : 30px;
  justify-content : center;
  align-items : center;
  display : flex;
  margin-bottom : 150px;
}

#container .card{
  align-items : center;
  position : relative;
  width:280px;
  height : 220px;
  background-color : #fff;
  display : flex;
  margin : 30px 10px;
  padding : 20px 15px;
  flex-direction : column;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  border-radius : 5px;
}

#container .card:hover{
  height : 300px;
  justify-content : center;
  z-index:1;
}
 
 #container .card .images{
  position : realtive;
  width : 260px;
  height : 260px;
  top: -60px;
  left : 20px;
  z-index : 1;
 }

#container .card .images img{
  max-width : 100%;
  border-radius : 5px;
}

#container .card .content{
  position : relative;
  margin-top : -140px;
  padding : 10px 15px;
  text-align : center;
  color : #111;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
}

#container .card:hover .content{
  visibility : visible;
  opacity : 1;
  margin-top : -40px;
  transition-delay : 0.3s;
}

#container .card .content h1{
  color : black;
}

#sub-images{
  text-align: center;
  align-items:center;
  width : 70%;
  height: 300px;
  display : flex;
  justify-content:center;
  gap:10px;
  margin-bottom:100px;
}

#sub-images img{
  width : 20%;
  height : 100%;
  object-fit:cover;
  border-radius:10px;
  border : 2px solid white;
  transition : all ease-in-out 0.5s;
}

#sub-images img:hover{
  width : 35%
}

#sub-imagesHeading{
  font-size:40px;
   font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #111;
}